.App {
  margin: 0 auto; 
  background-color: #48CFAD;
}

.player-list-container {
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
}

.player-card {
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
  /* border: 1px solid black */
}