.App {
  margin: 0 auto;
  width: 750px;
}

.player-list-container {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: space-around
}

/* .player-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black
} */